<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
            <li><a href="mailto:jcoyne85@stanford.edu">jcoyne85@stanford.edu</a></li>
            <li><a href="mailto:hfrost@stanford.edu">hfrost@stanford.edu</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>

